*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    border: 1px solid red;
    margin: 0 auto;
    width: 100%;
}

.entries-text-area {
    width: 100%;
    height: 75%;
    resize: none;
}

.canvas-enclosure {
    overflow: hidden;
}

.game-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}